* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.App {
  background: #1e1e1e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.drag-n-drop-container {
  width: 90%;
  min-height: 50vh;
  border: 4px dashed rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  max-width: 600px;
}
.drag-n-drop-container.border-solid {
  border-style: solid;
}
.drag-n-drop-container nav {
  text-align: center;
  min-height: 10vh;
  color: rgba(255, 255, 255, 0.7);
}
.drag-n-drop-container h2 {
  font-size: 20px;
  margin: 1.5rem 0;
}
.drag-n-drop-container p {
  margin: 0.5rem 0;
}
.drag-n-drop-container button {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: #fc427b;
  color: white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 20px;
}
.img_preview {
  width: 100%;
  padding: 10px;
}
img.preview {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  object-fit: cover;
  display: block;
  margin: 1rem auto;
}
.img_title {
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 13px;
}
